<!DOCTYPE HTML>
<!--
	Fractal by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>
		<%= title %>
	</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="./js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="./stylesheets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="./css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="./css/ie9.css" /><![endif]-->

	<script src="./js/jquery.min.js"></script>
	<script src="./js/jquery.scrolly.min.js"></script>
	<script src="./js/skel.min.js"></script>
	<script src="./js/util.js"></script>
	<!--[if lte IE 8]><script src="./js/ie/respond.min.js"></script><![endif]-->
	<script src="./js/main.js"></script>
</head>

<body id="top">
	<!-- Header -->
	<header id="header">
		<div class="content">
			<h3>
				ようこそ
				<%= userID %> さん
			</h3>
			<p>
				今すぐ簡単に
				<%= serviceList.length %> つのサービスを利用できます
			</p>
			<p>
				<a href="/addUserInfo" class="button">使えるサービスをもっと増やす</a>
			</p>
			<p>
				<a href="#one" class="button icon fa-chevron-down scrolly">すぐにサービスを利用する</a>
			</p>
		</div>
	</header>
	<section id="one" class="wrapper">
		<div class="inner">
			<section>
				<h3>ワンクリックで簡単登録</h3>
				<div class="box alt">
					<div class="row uniform">
						<% serviceList.forEach(function(sl){ %>
							<div class="4u">
								<span class="image fit">
									<img src="./images/logo/<%= sl.name %>.png" />
								</span>
								登録で<%= sl.income %>ポイント獲得
							</div>
							<% }) %>
					</div>
				</div>
			</section>
		</div>
	</section>
	<%include common/footer %>
</body>

</html>